# Ignore data files
*.csv
*misp.json
*clusters.json
core/GNN/data
core/GNN/notebooks/data
data/*
core/results
core/GNN/models
core/graph/utils/results
core/graph/output
core/feature_set_extraction/output/featuresets/*
core/feature_set_extraction/output/helpers/*
core/GNN/output/runs/*
core/GNN/gnn_stage_experiment/*
core/feature_set_extraction/caches/*
core/outputs/*
core/GNN/notebooks/models
core/utils/embeddings/output

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
.env/
.venv311/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.tmp
*.log
*.bak
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore cursorignore file
.cursorignore