torch
torch-geometric
torch-sparse
torch_scatter
pandas
numpy
networkx
python-igraph
leidenalg
scikit-learn
sentence-transformers
neo4j
pytest
mail-parser
lxml
hdbscan
tqdm
matplotlib
beautifulsoup4
tldextract
