torch
torch-geometric
pyg-lib
torch-sparse
torch_scatter
pandas
numpy
networkx
igraph
leidenalg
scikit-learn
sentence-transformers
neo4j
pytest
mail-parser
lxml
hdbscan
tqdm
matplotlib
beautifulsoup4
linkify-it-py
tldextract
httpx
pyarrow
requests
deep-translator==1.11.4
joblib
scipy
idna
